@charset "utf-8";
/* CSS Document */
a,div,ul,li,dl,dt,dd,hr,img,ol,hr,header,main,p{
	padding:0;
	margin:0;
}
body {
  margin: 0 ;
  font-size: 14px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a{
	text-decoration: none;
	color: #000000;
}
.border1{
	height: 1px;
}
